@import "../variables.scss";

#Account {
  .user-avatar {
    $diameter: 200px;
    width: $diameter;
    height: $diameter;
    border-radius: 50%;
    margin: 40px auto;
    background-image: url(http://pre06.deviantart.net/2cb3/th/pre/f/2015/004/1/b/deviantart_birdychu_and_chopper_by_itsbirdyart-d8coioj.png);
    background-position: 50%;
    background-size: 200%;
  }

  .sections {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;

    li {
      margin: 0 1em;
      text-transform: uppercase;

      padding: 0.5em;
      color: $text-color;
      text-decoration: none;
      text-transform: uppercase;
      cursor: pointer;
      border-bottom: 3px solid transparent;
      &:hover, &.selected {
        border-color: $style-color-4;
      }
    }
  }
  .content {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        $padding: 0.5em;
        $height: 2em;
        $width: 200px;
        height: $height;
        line-height: $height;
        display: flex;
        justify-content: center;
        margin: 20px 0;
        .title {
          width: $width;
          text-transform: capitalize;
          margin: 0 0.5em 0 0;
        }
        .value {
          width: $width;
          height: $height;
          border-radius: $br;
          background-color: $body-bg-dark;
          text-align: center;
        }

        @mixin inputField $height, $width;
        select, .button {
          margin: 0 0 0 0.5em;

          &.left {
            margin: 0 0.5em 0 0;
          }
        }
      }
    }
  }
}
