@import '../../variables.scss';

#content-filter {
  $padding: 0.5em;
  $height: 2em;
  position: relative;

  form {
    display: flex;

    .form-section {
      display: flex;
      margin-right: $height;
    }


    .input-label {
      height: $height;
      line-height: $height;
      margin: $padding 0;
    }

    @mixin inputField $height, 10em;

    .select-elem, input[type='text'] {
      margin: $padding;
    }

  }

  .btn {
    background-color: $style-color-1;
    color: $body-bg;
    border-radius: 2px;
  }

  .reset {
    position: absolute;
    right: $padding;
    top: $padding;
    bottom: $padding;
    line-height: $height;
    padding: 0 $padding;
  }
}
